@model CoffeTownNET8.Modelos.ViewModels.HomeVM

@{
    ViewData["Title"] = "Inicio";
}

<!--Slider-->
<div id="sliderImagenes" class="carousel slide">
    <div class="carousel-inner">
        @{
            int cont = 0;
        }

        @foreach (var slider in Model.Sliders)
        {
            var itemDinamico = cont++ == 0 ? "active" : "";

            @if (slider.Estado == true)
            {
                <div class="carousel-item @itemDinamico">
                    <h1 class="text-white text-center bg-dark py-1">@Html.Raw(slider.Nombre)</h1>
                    <img src="@Url.Content(slider.UrlImagen)" class="d-block w-100">
                    
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderImagenes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderImagenes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Cierra Slider-->
<br />
<br />
<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-white text-center text-dark bg-secondary py-1">Productos Disponibles CoffeTown</h1>
    </div>
</div>


@if (Model.ListProductos.Count() > 0)
{
    <hr/>
    <div class="row">
        @foreach (var producto in Model.ListProductos.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@producto.UrlImagen" class="img-thumbnail" width="100%" />
                    <div class="card-body">
                        <h5 class="text-center">@producto.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius10px" asp-route-id="@producto.Id">
                            Más información
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay artículos</p>
}

